<!--<div class="main">
    <div (click)="gotourl('')" [class.selected]="url === '/'">Home</div>
    <div (click)="gotourl('blog-list')" [class.selected]="url === '/blog-list'">Blog List</div>
    <div (click)="gotourl('about-us')" [class.selected]="url === '/about-us'">AboutUs</div>
    <div (click)="gotourl('login')" [class.selected]="url === '/login'">Login</div>
    <div (click)="gotourl('contact-us')" [class.selected]="url === '/contact-us'">Contactus</div>
</div> --->

<!-- Navigation Bar -->
<header>
    <div class="navbar">
        <div class="logo">MyBlog</div>
        <nav>
            <a (click)="gotourl('')" [class.selected]="url === '/'">Home</a>
            <a (click)="gotourl('blog-list')" [class.selected]="url === '/blog-list'">BlogList</a>
            <a (click)="gotourl('login')" [class.selected]="url === '/login'">Sign In</a>
        </nav>
    </div>
</header>


<!-- Main Hero Section 
<section class="hero">
  <div class="hero-content">
      <h1>Welcome to My Blog</h1>
      <p>Your source for the latest trends, stories, and more.</p>
      <button class="cta-button">Get Started</button>
  </div>
</section>-->



